.header-store {
    height: 7rem; 
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-box--store {
        position: absolute;  
        top: 1.8rem;    
        left: 2rem;  
    } 

    &__logo--store {
        height: 3.5rem;
    }    
}  
   